# FUNCTIONS: (CONTINUATION)

In [17]:
def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            print('this is not prime number', i)
            break
    else:
        print('this is prime number', i)
#this is forelse statement as if else statement prints in looping way again and again like below
#this is prime number 1
#this is prime number 2
#this is prime number 15

In [18]:
is_prime(56)

this is not prime number 2

In [19]:
is_prime(17)

this is prime number 16

In [20]:
def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
            break
    else:
        return True

In [21]:
is_prime(4)

False

In [23]:
is_prime(17)

True

In [24]:
type(is_prime(17))

bool

In [25]:
is_prime(17)+1
#TRUE bool value is 1

2

In [26]:
is_prime(4)+1
#FALSE bool value is 0

1

In [27]:
def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return 0
            break
    else:
        return 1

In [28]:
is_prime(4)

0

In [29]:
is_prime(17)

1

In [30]:
is_prime(4)+1

1


# ITERATOR, ITERABLE & GENERATOR

In [31]:
for i in 7:
    pass

TypeError: 'int' object is not iterable

In [34]:
for i in "vishal":
    print(i)

v
i
s
h
a
l

In [35]:
for i in [1,2,3,'vishal']:
    print(i)

1
2
3
vishal

In [36]:
for i in "s":
    print(i)

s

In [38]:
for i in "vish":
    print(i)

v
i
s
h

In [39]:
#next function - extract dataset that is available in next indexes
next('vish')
#error shown as iterable is not converted into iterator

TypeError: 'str' object is not an iterator

Difference between iterator and iterable and 

String is an iterable object by default and not iterator

For loop is making string iterable object to look like iterator.

If iterable, we can convert that dataset to iterator.

#If datatype is stored in indexes and able to fetch one by one, that is called iterable

#Convert iterable to iterator inorder to extract the data from indexes using iter function

In [43]:
#Iter function

a = iter('vishal')

In [44]:
type(a)

str_iterator

In [45]:
next(a)

'v'

In [46]:
next(a)

'i'

In [47]:
next(a)

's'

In [48]:
next(a)

'h'

In [49]:
next(a)

'a'

In [50]:
next(a)

'l'

In [51]:
next(a)
#next never knows about last index so it throws exception

StopIteration:

IF SOMETHING IS ITERABLE, THEN ONLY WE WILL BE ABLE TO CONVERT TO ITERATOR. EX: STRING
IF SOMETHING IS NOT ITERABLE, WE CAN'T CONVERT IT INTO ITERATOR. EX: INTERGER

In [52]:
#INTEGER IS NOT ITERABLE
for i in 7:
    pass

TypeError: 'int' object is not iterable

In [53]:
#integer is not iterable
a = iter(7)

TypeError: 'int' object is not iterable

In [54]:
#integer is not iterator
next(12)

TypeError: 'int' object is not an iterator

#Integer doesn't follow indexing concept as it stores only one index
#String, List follows indexing concepts as it stores in multiple indexes

#Generator - generates new dataset.
#It is a generator function. Not iterator function. 
#example is range function, it doesnt return value directly
range(10) = range (0,10) = [0 to 9]

In [55]:
next(range(10))

TypeError: 'range' object is not an iterator

In [56]:
#for loop is making range function as iterator
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [59]:
d = iter(range(5))
d
#converted range to iterator

In [60]:
next(d)

0

In [61]:
next(d)

1

In [62]:
next(d)

2

In [63]:
next(d)

3

In [64]:
next(d)

4

In [65]:
next(d)

StopIteration:

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
def tst(num):
    for i in range(num):
        print(i)

In [68]:
tst(5)

0
1
2
3
4

In [72]:
def gencube(n):
    for i in range(n):
            i = i**3
            print(i)

In [73]:
gencube(5)

0
1
8
27
64

In [76]:
def gencube(n):
    for i in range(n):
           return i**3

In [77]:
gencube(5)

0

In [78]:
#YIELD function: try to yield and give next dataset by remembering previous one
#YIELD is a generator function meaning generating
#Yield creates a generator object and able to extract dataset one by one which has to be used in for loop: 
#Yield won't give direct output
def gencube(n):
    for i in range(n):
           yield i**3

In [79]:
gencube(3)
#Yield function wont give direct output, just returns the generator object

In [80]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [81]:
next(gencube(10))

0

In [82]:
next(gencube(10))
#Its not able to proceed futher down apart from zeros in output. It is a iterable but not iterator

0

In [85]:
v = iter(gencube(5))

In [86]:
next(v)

0

In [87]:
next(v)

1

In [88]:
next(v)

8

In [89]:
next(v)

27

In [90]:
next(v)

64

In [91]:
next(v)

StopIteration:

In [113]:
#FIBONACCI SERIES USING GENERATOR FUNCTION
def genfib(n):
    a=1
    b=1
    for i in range(10):
        yield a
        a,b = b, a+b

In [114]:
genfib(10)

In [115]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [116]:
next(genfib(10))

1

In [117]:
next(genfib(10))
#no change in output other than 1. So use iter function

1

In [119]:
v = iter(genfib(10))

In [123]:
next(v)

1

In [124]:
next(v)

1

In [125]:
next(v)

2

In [126]:
next(v)

3

In [127]:
next(v)

5

As doing in a single line operation for a and b, there won't be update in values of a and after a+b is called.
OUTPUT:
a  b
1  1
1  2
2  3
3  5
5  8

In [105]:
#FIBONACCI SERIES USING NON GENERATOR FUNCTION
def genfib(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b,a+b

In [106]:
genfib(10)

1
1
2
3
5
8
13
21
34
55

# MAP, REDUCE, LAMBDA AND FILTER FUNCTIONS:

Plays major functions in data manipulations, optimized functions.
Map function plays functionality of mapping a function with variables in row level.
Reduce always does aggregation operation by reducing dataset values and then giving a final value.
Reduce always accept only function with 2 args i.e., a & b
Lambda is an anonymous function.
Filter condition filter out the data based on TRUE condition

In [3]:
#Square of a number:
def square(n):
    return n**2

In [4]:
square(3)

9

In [5]:
#Square of number using list:
l=[1,2,3,4,5]
m=[]
for i in l:
    m.append(square(i))
m

[1, 4, 9, 16, 25]

In [6]:
#List comprehension
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [7]:
#Map function
#map(func, iterables)
def square(n):
    return n**2

In [8]:
l
#iterable

[1, 2, 3, 4, 5]

In [9]:
map(square,l)

In [10]:
list(map(square,l))

[1, 4, 9, 16, 25]

In [11]:
for i in map(square,l):
    print(i)

1
4
9
16
25

In [12]:
#Lambda function inside Map function:
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25]

In [16]:
l

[1, 2, 3, 4, 5]

In [13]:
lambda x: x**2

In [18]:
#Passing the function itself inside variable:
c = lambda x: x**2

In [15]:
list(map(c,l))

[1, 4, 9, 16, 25]

In [19]:
#Summing up lists based on all abc index positions:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
c=[1,2,3,4,5,6,7]

In [21]:
def summation(x,y,z):
    return x+y+z

In [22]:
summation(a,b,c)
#This is wrong

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7]

In [27]:
summation(1,6,1)
#This is just for static single field, do not consider this

8

In [23]:
list(map(summation,a,b,c))
#Last 2 fields are left out as they are considered as NULL

[8, 11, 14, 17, 10]

In [25]:
list(map(lambda x,y,z: x+y+z,a,b,c ))

[8, 11, 14, 17, 10]

In [28]:
#REDUCE FUNCTION
from functools import reduce

In [31]:
def summ(a,b):
    return a+b

In [32]:
#Reduce always accept only function with 2 args i.e., a & b
l = [4,5,6,7,8,9]
reduce(summ,l)

39

OUTPUT:
In l = [4,5,6,7,8,9],
a is considered as 4 and b is considered as 5 initially
so first op will be 9 which is considered as a.
next '6'is considered as b, so OP will be 15 which is considered as a.
Now 7 is considered as b. Similarly until last

In [34]:
reduce(lambda x,y:x+y,l)

39

In [35]:
reduce(lambda x,y:x/y,l)

0.0002645502645502645

In [36]:
#FILTER function
l=[4,5,6,7,8,9,8,8,0]

In [40]:
list(filter(lambda x: x%2==0,l))
#returns true values

[4, 6, 8, 8, 8, 0]

In [45]:
#When True
def even_check(n):
    if n%2==0:
        return True

In [46]:
list(filter(even_check,l))

[4, 6, 8, 8, 8, 0]

In [43]:
#When False
def even_check(n):
    if n%2==0:
        return False

In [44]:
list(filter(even_check,l))

[]