# OOPS Concepts:

In OOPS, everything is implemented in terms of class and objects.
It's object oriented programming 
Class - Classification of real world entity. eg: Person, Animal, Car respectively.
Object - Takes some property from class. eg: Male, Tiger, Audi respectively.
Object is a variable of class

# CLASSES AND OBJECTS:

In [9]:
i = 1
#creating object / instance of class integer

In [2]:
type(i)

int

In [8]:
print(type(i))
#integer class

<class 'int'>

In [10]:
s = 'vishal'
#creating object / instance of class integer
type(s)

str

In [7]:
print(type(s))
#string class

<class 'str'>

In [11]:
class test:

SyntaxError: unexpected EOF while parsing (<ipython-input-11-6ccad8358cd9>, line 1)

In [12]:
class test:
    pass

In [87]:
class person:
    pass

In [88]:
#object / variable of a class
p = person()

In [89]:
type(p)

__main__.person

In [90]:
print(p)

<__main__.person object at 0x000002580B531CC8>

In [91]:
p.name = 'vishal'
p.age=26
p.occup = 'IT'

In [99]:
#instance A belongs to person
a = person()

In [100]:
a.name = 'ganesan'
a.age=56
a.yob=2341994

In [101]:
#Invoking

p.name

'vishal'

In [102]:
p.age

26

In [103]:
p.occup

'IT'

In [98]:
p.yob

AttributeError: 'person' object has no attribute 'yob'

In [104]:
a.yob

2341994

In [105]:
type(p)

__main__.person

In [106]:
type(a)

__main__.person

In [107]:
type(p.name)

str

Above one is bad approach and overridden is followed.
Below is good approach which is to be followed.
Self is a pointer which refers to itself. Self is pointer to class itself.
__init__ is the method for initializing for initializing the variable or value of a class. It initializes the value for object.

In [42]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

In [45]:
p=person()
print(p)

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'dob'

In [46]:
p=person('vishal','ganesan',23041994)
print(p)

<__main__.person object at 0x000002580B512B88>

In [47]:
s=person('vaishnavi','ganesan',2532001)
print(s)

<__main__.person object at 0x000002580B515108>

In [48]:
p.name

'vishal'

In [49]:
s.name

'vaishnavi'

In [50]:
p.surname

'ganesan'

In [51]:
s.surname

'ganesan'

In [52]:
p.dob

23041994

In [53]:
s.dob

2532001

Assignment of value happens from person(a,b,c) to the __init__ arguments. From there it passes thru assignment variable
on right side. Those values are assigned to self.name values which is on left side and gets assigned to the class.

In [54]:
class person1:
    def __init__(self,name,surname,dob):
        self.name1=name
        self.surname1=surname
        self.dob=dob

In [58]:
 pe = person1('hi','am',3456)

In [59]:
pe.name

AttributeError: 'person1' object has no attribute 'name'

In [60]:
pe.name1

'hi'

In [61]:
pe.dob

3456

In [62]:
pe.surname1

'am'

In [63]:
pe.surname

AttributeError: 'person1' object has no attribute 'surname'

In [64]:
#Using random words instead of self:
class person1:
    def __init__(a,name,surname,dob):
        a.name1=name
        a.surname1=surname
        a.dob=dob

In [65]:
pe=person1('hello','GM',1234)

In [66]:
pe.name1

'hello'

In [67]:
#Functions / Methods inside classes:

class person:
    
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

#self is used as default 1st argument in all functions
#inorder to access variables inside class, it should be called with self. ex: self.dob

    def test(self, m, n):
        return m+n+self.dob

In [68]:
p = person('vishal','ganesan',23)

In [69]:
#functions in the class can be accessed with class objects
p.test(23,4)

50

In [70]:
s = person('vaishnavi','ganesan',25)
s.test(25,3)

53

In [71]:
print(p)

<__main__.person object at 0x000002580B510CC8>

In [81]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

    def test(self, m, n):
        return m+n+self.dob

    #always return string object as return type. Just provides valuable info
    def __str__(self):
        return 1

In [73]:
s = person('vaishnavi','ganesan',25)

In [74]:
print(s)
#error as integer type is returned

TypeError: __str__ returned non-string (type int)

In [108]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

    def test(self, m, n):
        return m+n+self.dob

    def __str__(self):
        return "This is vishal"

In [109]:
s = person('vaishnavi','ganesan',25)
print(s)

This is vishal

In [129]:
#Using placeholder
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

    def test(self, m, n):
        return m+n+self.dob

    def __str__(self):
        return "My name is %s and my surname is %s and my dob date is %d" %(self.name,self.surname,self.dob)

In [130]:
s = person('vaishnavi','ganesan',25)
print(s)

My name is vaishnavi and my surname is ganesan and my dob date is 25

In [131]:
s

In [133]:
s.__dict__
#this is how the values are stored

{'name': 'vaishnavi', 'surname': 'ganesan', 'dob': 25}

In [134]:
print(s)
#To invoke str, object should be called with print statement

My name is vaishnavi and my surname is ganesan and my dob date is 25

Class should be assigned to an object with paranthesis so that there wont be overriding in any value
If it is assigned without paranthesis, then values will be overriden
a = person() - TRUE
a = person   - FALSE

In [136]:
#WITHOUT INIT FUNCTION:
#DIRECT PROGRAMMING.

class person:
    
    def pass_name(self,name):
        self.name = name
    
    def pass_surname(self,surname):
        self.surname = surname
    
    def pass_dob(self,dob):
        self.dob = dob

In [137]:
s = person()

In [138]:
s.name

AttributeError: 'person' object has no attribute 'name'

In [139]:
s.pass_name('sudha')
s.pass_surname('ganesan')
s.pass_dob(164)

In [140]:
s.name

'sudha'

In [141]:
s

In [142]:
s.dob

164

In [143]:
s.surname

'ganesan'

In [144]:
s.__dict__

{'name': 'sudha', 'surname': 'ganesan', 'dob': 164}

# ABSTRACTION

Python doesnt support Public , Private and Protected but still it is present in python

If self.name and s.name, it is public
If self.name and s._name, it is protected
If self.name and s.__name, it is private and class name is appended before that

In [155]:
class person:
    def __init__(self,name,surname,dob):
        self.__name=name
        self._surname=surname
        self.dob=dob

    def test(self, m, n):
        return m+n+self.dob

    def __str__(self):
        return "This is vishal"

In [156]:
s = person('vishal','g',234)

In [157]:
s.__dict__
#class name is appended if it is double underscores

{'_person__name': 'vishal', '_surname': 'g', 'dob': 234}

In [158]:
s._surname

'g'

In [159]:
s.dob

234

In [151]:
s._name

AttributeError: 'person' object has no attribute '_name'

In [152]:
s.__name

AttributeError: 'person' object has no attribute '__name'

In [153]:
s._person__name

'vishal'

# INHERITANCE:

Inheriting the properties of base class into sub class
Syntax: class sub_class(base_class)

In [160]:
#Base class
class person:
    def __init__(self,name,surname,dob):
        self._name=name
        self._surname=surname
        self._dob=dob

    def test(self, m, n):
        return m+n+self._dob

    def __str__(self):
        return "This is vishal"

In [163]:
#Sub class
class student(person):
    def __init__(self,roll_no,college_name,*args):
        #*args - selects all the arguments
        super(student,self).__init__(*args)
        #this is nothing but Parent person.__init__(*args) - selects all args
        self.roll_no = roll_no
        self.college_name = college_name

In [164]:
stud = student(1234,'SIT')

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'dob'

In [165]:
stud = student(1234,'SIT','Vishal','Ganesan',234)

In [166]:
stud._name

'Vishal'

In [167]:
stud.test(23,4)

261

In [174]:
#MULTIPLE INHERITANCE
#TWO CLASSES WITH SAME FUNCTION NAME

class a:
    def test(self):
        print("Name is Vishal")
        
class b:
    def test(self):
        print("Surname is Ganesan")
        
class c(a,b):
    obja = a()
    objb = b()
    obja.test()
    objb.test()

Name is Vishal
Surname is Ganesan

In [175]:
#If CLASS C called outside the class

class a:
    def test(self):
        print("Name is Vishal")
        
class b:
    def test(self):
        print("Surname is Ganesan")
        
class c(a,b):
    obja = a()
    objb = b()
    obja.test()
    objb.test()

objc = c()
objc.test()

#objc returns only the first class argument a which is passed

Name is Vishal
Surname is Ganesan
Name is Vishal

In [176]:
#If CLASS C called outside the class

class a:
    def test(self):
        print("Name is Vishal")
        
class b:
    def test(self):
        print("Surname is Ganesan")
        
class c(b,a):
    obja = a()
    objb = b()
    obja.test()
    objb.test()

objc = c()
objc.test()

#objc returns only the first class argument b which is passed

Name is Vishal
Surname is Ganesan
Surname is Ganesan