# TUPLES

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
l=[]

In [4]:
type(l)

list

In [5]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [6]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [7]:
t = (1,2,3,'string',3+4j)
t

(1, 2, 3, 'string', (3+4j))

In [8]:
t[0]

1

In [9]:
t[-1]

(3+4j)

In [10]:
t[::-1]

((3+4j), 'string', 3, 2, 1)

In [11]:
len(t)

5

In [12]:
l[0]

1

In [13]:
l[0]='Vishal'
l

['Vishal', 2, 3, 4, 5]

In [14]:
t[0]

1

In [15]:
t[0] = 'Vishal'

TypeError: 'tuple' object does not support item assignment

List supports Item reassignment. It is mutable, we will be able to change the index / mutate the data/index.
Tuples doesn't support Item reassignment. It is immutable, we will not be able to change the index / mutate the data/index.
String also can't be mutated

In [16]:
s = 'Vishal'

In [18]:
s[1] = 'g'

TypeError: 'str' object does not support item assignment

In [22]:
for i in t:
    print(t)

(1, 2, 3, 'string', (3+4j))
(1, 2, 3, 'string', (3+4j))
(1, 2, 3, 'string', (3+4j))
(1, 2, 3, 'string', (3+4j))
(1, 2, 3, 'string', (3+4j))

In [24]:
for i in l:
    print(i)

Vishal
2
3
4
5

In [25]:
for i in range(len(t)):
    print(t[i])
#needs to access index to get the data in output

1
2
3
string
(3+4j)

In [27]:
for i in l:
    print(i)
#Can be accessed without accessing index in list

Vishal
2
3
4
5

t.count
t.index
Only 2 functions available in Tuple as it doesn't have data manipulation

In [29]:
t

(1, 2, 3, 'string', (3+4j))

In [30]:
t.count(1)

1

In [31]:
t.count(4)

0

In [32]:
l

['Vishal', 2, 3, 4, 5]

In [33]:
l.count(3)

1

In [34]:
t.index(2)

1

In [38]:
t.index(6)

ValueError: tuple.index(x): x not in tuple

In [39]:
l.index(6)

ValueError: 6 is not in list

In [40]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = t1+t2
t3
#only concatenation is allowed

(1, 2, 3, 4, 5, 6, 7, 8)

In [41]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [44]:
# To insert into Tuple, convert Tuple to List, make modifications and convert back list to tuple
l1 = list(t1)
l1

[1, 2, 3, 4]

In [45]:
l1.insert(2,'Hi')
l1

[1, 2, 'Hi', 3, 4]

In [50]:
t4 = tuple(l1)

In [51]:
type(l1)

list

In [52]:
type(t4)

tuple

Tuple is stored in saving old passwords, donot override original locations.
If location needs to change, then store in list.

# SET:

Set is kind of collection / datastructure always displays only the unique data in output and display only in ascending order.
It removes duplicates.
It is case sensitive, supports heterogeneous data.
It doesn't provide sorted data set. It provides only in ascending order. eg: 1,2,4,43,5,59,6.

In [57]:
s =set([2,2,2,3,3,3,3,4,4,4,5,5,6,7,7,7,8,8,9,1,0,0,'Vishal','vishal',4.656,True,3+2j])
s

{(3+2j), 0, 1, 2, 3, 4, 4.656, 5, 6, 7, 8, 9, 'Vishal', 'vishal'}

In [58]:
s[0]
#can't be used for index operation, so no slicing can be done

TypeError: 'set' object is not subscriptable

In [59]:
for i in s:
    print(i)
#can be accessed one by one

0
1
2
3
4
5
6
7
8
9
Vishal
4.656
(3+2j)
vishal

In [60]:
d = set((1,2,3,4))
d
#passed in form of tuple

{1, 2, 3, 4}

In [61]:
d = set([1,2,3,4])
d
#passed in form of list

{1, 2, 3, 4}

In [62]:
d[::-1]

TypeError: 'set' object is not subscriptable

In [66]:
e = list(d)
e

[1, 2, 3, 4]

In [67]:
e[::-1]

[4, 3, 2, 1]

In [68]:
d

{1, 2, 3, 4}

In [69]:
b = {}
type(b)

dict

In [70]:
b = {1}
type(b)

set

In [72]:
b.add('vishal')
b

{1, 'vishal'}

In [73]:
b.pop()

1

In [74]:
b.pop()

'vishal'

In [75]:
b

set()

In [76]:
b = set((1,2,3,4))
b

{1, 2, 3, 4}

In [77]:
b.pop()

1

In [79]:
b.pop(1)
#not supported in set when pop based on index and takes no argument.
#it's supported only in list where you can pop based on index.

TypeError: pop() takes no arguments (1 given)

In [85]:
s = {1,2,46,73,6,5,'Vishal','vishal','ganesan','Ganesan',5,4,3,73,"#"}
s
#Build an unordered collection of unique elements

{'#', 1, 2, 3, 4, 46, 5, 6, 73, 'Ganesan', 'Vishal', 'ganesan', 'vishal'}

In [84]:
s = {1,2,46,73,6,5,'Vishal','vishal','ganesan','Ganesan',5,3,73,"#",[3,4,5]}
s

TypeError: unhashable type: 'list'

{} - list[] can't be passed
() - list[] can be passed

In [86]:
l = [1,2,3,4]
s = set(l)
s

{1, 2, 3, 4}

In [87]:
type(l)

list

In [88]:
type(s)

set

# DICTIONARY:

Dictionary is used to store data as {key:value} pair  
Duplicate keys are not allowed
Special character and Integer can be part of keys

In [89]:
d={}
type(d)

dict

In [91]:
d = {'name':'vishal'}
d

{'name': 'vishal'}

In [92]:
d = {'name':'vishal','surname':'ganesan'}
d

{'name': 'vishal', 'surname': 'ganesan'}

In [93]:
d = {'name':'vishal','surname':'ganesan','name':'abc'}
d

{'name': 'abc', 'surname': 'ganesan'}

In [94]:
d = {'name':'vishal','surname':'ganesan','name':'abc','surname':'xyz'}
d
#If duplicated, it will take last values.

{'name': 'abc', 'surname': 'xyz'}

In [96]:
d = {'name':'vishal','surname':'ganesan','name':'vishal','surname':'ganesan'}
d

{'name': 'vishal', 'surname': 'ganesan'}

In [97]:
d = {3:'vishal','surname':'ganesan','name':'xyz','surname':#:"abc"}
d

SyntaxError: unexpected EOF while parsing (<ipython-input-97-07d9ee80e7d3>, line 2)

In [103]:
d = {3.14:'vishal','surname':'ganesan','name':'xyz','#':"abc"}
d

{3.14: 'vishal', 'surname': 'ganesan', 'name': 'xyz', '#': 'abc'}

In [102]:
d = {3:'vishal','surname':'ganesan','name':'xyz',[1,2,3]:"abc"}
d
#list can't be used as key

TypeError: unhashable type: 'list'

In [108]:
d = {"key":[1,2,3,4,5,[6,7]],"key1":(1,2,3,4,5),"key2":{1,2,3,4,5},"key3":{"x":"vishal","y":"ganesan"}}
d

{'key': [1, 2, 3, 4, 5, [6, 7]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {1, 2, 3, 4, 5},
 'key3': {'x': 'vishal', 'y': 'ganesan'}}

In [110]:
#indexing is not possible as data is not stored as indexes rather a key value pair.
d[0]

KeyError: 0

In [111]:
d['key']

[1, 2, 3, 4, 5, [6, 7]]

In [112]:
d['key3']

{'x': 'vishal', 'y': 'ganesan'}

In [113]:
d['key'][5]

[6, 7]

In [114]:
d['key'][5][0]

6

In [117]:
d['key3']['y']
#key of key

'ganesan'

In [118]:
for i in d:
    print(i)
#print only keys

key
key1
key2
key3

In [119]:
for i in d:
    print(d[i])
#print only values

[1, 2, 3, 4, 5, [6, 7]]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'x': 'vishal', 'y': 'ganesan'}

In [120]:
d.keys()

dict_keys(['key', 'key1', 'key2', 'key3'])

In [121]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, 5, [6, 7]]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'x': 'vishal', 'y': 'ganesan'}

In [122]:
d.values()

dict_values([[1, 2, 3, 4, 5, [6, 7]], (1, 2, 3, 4, 5), {1, 2, 3, 4, 5}, {'x': 'vishal', 'y': 'ganesan'}])

In [123]:
#Extract the tuples from d - dictionary
m=[]
for i in d.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
print(m)

[1, 2, 3, 4, 5]

In [124]:
type(m)

list

In [126]:
d["key4"] = "This is vishal"
d

{'key': [1, 2, 3, 4, 5, [6, 7]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {1, 2, 3, 4, 5},
 'key3': {'x': 'vishal', 'y': 'ganesan'},
 'key4': 'This is vishal'}

In [127]:
d["key5"] = [5,6,7,8]
d

{'key': [1, 2, 3, 4, 5, [6, 7]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {1, 2, 3, 4, 5},
 'key3': {'x': 'vishal', 'y': 'ganesan'},
 'key4': 'This is vishal',
 'key5': [5, 6, 7, 8]}

In [128]:
#Assigning a value
d['key4'] = 'sssss'
d

{'key': [1, 2, 3, 4, 5, [6, 7]],
 'key1': (1, 2, 3, 4, 5),
 'key2': {1, 2, 3, 4, 5},
 'key3': {'x': 'vishal', 'y': 'ganesan'},
 'key4': 'sssss',
 'key5': [5, 6, 7, 8]}

In [130]:
d={}
for i in range(10):
    d[i] = i**2
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [131]:
l=['vishal','ganesan','sudha','vaishu']
d={}
for i in l:
    d[i]=i.upper()
d

{'vishal': 'VISHAL',
 'ganesan': 'GANESAN',
 'sudha': 'SUDHA',
 'vaishu': 'VAISHU'}

In [133]:
l=['vishal','GANESAN','sudha','vaishu']
d={}
for i in l:
    d[i]=i.isupper()
d

{'vishal': False, 'GANESAN': True, 'sudha': False, 'vaishu': False}

In [138]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [139]:
d.items()

dict_items([('vishal', False), ('GANESAN', True), ('sudha', False), ('vaishu', False)])

# FUNCTION:

Function can be used for reusability

In [140]:
def test():
    pass

In [141]:
test()

In [142]:
type(test())

NoneType

In [162]:
def test():
    a=1
    b=2
    print(a+b)

In [166]:
d = test()
d

3

In [167]:
d + 1
#won't work as function is in none type

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [159]:
type(print('3'))

3

NoneType

In [160]:
type(print(1+3))

4

NoneType

In [161]:
type(test())
#it's Print, so returned none type.

its function 3

NoneType

In [151]:
#Print returns nonetype. We can't use those variables for data manipulations 
#Return returns the datatype whatever it is suppose to be. We can use it for data manipulations.

In [170]:
def test():
    a=1
    b=2
    return a+b

In [171]:
test()

3

In [172]:
type(test())
#as used return

int

In [173]:
d = test()
d

3

In [175]:
d + 1
#returns output as the return type is integer

4

In [180]:
def test():
    return 'Vishal '

In [181]:
d = test()
d

'Vishal '

In [182]:
type(test())

str

In [183]:
d + "Ganesan"

'Vishal Ganesan'

In [184]:
#Sample function:
def test(a,b):
    return a+b

In [193]:
c = test(23,4)
c

27

In [194]:
type(c)

int

In [195]:
d = test('vishal','ganesan')
d

'vishalganesan'

In [203]:
type(d)

str

In [204]:
d.upper()

'VISHALGANESAN'

In [187]:
test('vishal',23)
#not possible for string with integer

TypeError: can only concatenate str (not "int") to str

In [201]:
e = test([1,2,3,4,5],[6,7,8,9])
e

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [202]:
type(e)

list

TypeError: can only concatenate list (not "int") to list

In [205]:
def test(a,b):
    return a+b, a*b

In [206]:
test(4,5)

(9, 20)

In [208]:
type(test(4,5))

tuple

In [209]:
y, x = test(5,6)

In [210]:
y
#a+b return

11

In [211]:
x
#a*b return

30

In [212]:
#Mapping can be done in single line
a,b,c,d = 2,3,4,'vishal'

In [213]:
d

'vishal'

In [214]:
#by keeping place holder,to capture only addition and not multiplication
y, _  = test(3,4)

In [215]:
y

7

In [218]:
x

30

In [219]:
def test(a,b='ganesan'):
    return a+b

In [220]:
test('vishal')
#only one variable is given as b is already having default value

'vishalganesan'

In [222]:
test('vishal','Krishnamurthy')
#value overridden in function call

'vishalKrishnamurthy'

In [223]:
#Generator function
range(23)

range(0, 23)

In [226]:
#Local and Global functions:
# lo is local function and gl is global function
gl = 23
def test():
    lo = 4
    return gl + lo

In [227]:
test()

27

In [228]:
gl
#It's printed as its global function

23

In [230]:
lo
#not printed as it's local only to test() function not global

NameError: name 'lo' is not defined

In [231]:
def test():
    return "vishal",23,4.05,3+4j,[1,2,3],{'key1':23,'key2':4}
test()

('vishal', 23, 4.05, (3+4j), [1, 2, 3], {'key1': 23, 'key2': 4})

In [232]:
_,_,_,d,_,f = test()

In [238]:
d

(3+4j)

In [236]:
f

{'key1': 23, 'key2': 4}

In [240]:
_
#returns the latest element

[1, 2, 3]

In [241]:
l =[4,5,6,7,5,[3,4,5,6,7,3,5,5]]
m=[]
for i in l:
    if i == 5:
        l.remove(i)
l

[4, 6, 7, [3, 4, 5, 6, 7, 3, 5, 5]]

In [252]:
l =[4,5,6,7,5,[3,4,5,6,7,3,5,5]]

In [257]:
m =[]
for q in l:
    if q == 5:
        l.remove(5)
    if type(q)==list:
        for j in q:
            if j==5:
                q.remove(j)
l

[4, 6, 7, [3, 4, 6, 7, 3]]

In [258]:
type(q)

list

FUNCTIONS TO BE CONTINUED IN DAY-5 EXERCISES