In [2]:
a = 'vishal'

In [3]:
a*10

'vishalvishalvishalvishalvishalvishalvishalvishalvishalvishal'

In [4]:
[1,2,3,4]*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# String operations

In [5]:
a.upper()

'VISHAL'

In [6]:
a='VISHal'
a.lower()

'vishal'

In [7]:
a = 'Vishal is working in IT'
a.split()
#seperates with whitespace. SPlit on default splits with whitespace

['Vishal', 'is', 'working', 'in', 'IT']

In [8]:
b='vishal.gs234@gmail.com'
b.split('@')
#Split using some delimiters. There can be one only delimiter
#@ won't be in part of final dataset

['vishal.gs234', 'gmail.com']

In [9]:
c='vishalganesansudhavaishnavi'
c.split('a')

['vish', 'lg', 'nes', 'nsudh', 'v', 'ishn', 'vi']

In [10]:
c='vishalganesansudhavaishnavi'
c.split('A')
#Case sensitive

['vishalganesansudhavaishnavi']

In [11]:
c='vishalganesAnsudhavaishnavi'
c.split('A')
#Case sensitive

['vishalganes', 'nsudhavaishnavi']

In [12]:
#Partition:
#Won't work without argument,always takes in argument for delimiter even if it is spaces
c.partition('A')

('vishalganes', 'A', 'nsudhavaishnavi')

In [13]:
c.paritition()
#Won't work without argument

AttributeError: 'str' object has no attribute 'paritition'

Difference Between SPLIT() and PARTITION()
SPLIT('a') - 

1. Removes the argument from the data showing in output list. In 'vishal' if SPLIT('a'),OP will be: ['vish','l']
2. Splits all the delimiters even though if it has multiple occurances. Please find below example.
3.Delimiter won't be part of final data set.
4. Will return more arguments if multiple delimiters
5. Datatype is List

PARTITION('a') - 

1. Keeps the argument in the data showing in output list. In 'vishal' if PARTITION('a'),OP will be('vish','a''l')
2. Splits only the first delimiter even though if it has multiple occurances. Please find below example.
3. Delimiter will be part of final data set.
4. Will return 3 arguments as it determines only first delimiter
5. Datatype is Tuples

In [14]:
#For point2
d='aAaaAaA'
d.split('a')

['', 'A', '', 'A', 'A']

In [15]:
#For point2
d.partition('a')

('', 'a', 'AaaAaA')

In [16]:
#Datatype of split
type(d.split('a'))

list

In [17]:
#Datatype of partition
type(d.partition('a'))

tuple

In [18]:
#FIND - returns the first index of 'a', not the index of other 'a' present in data.
a='vishala'
a.find('a')

4

In [19]:
#If FIND with not a character in variable. -1 is empty stack which shows in OP if there is no character in data
a='vishalg'
a.find('z')

-1

In [20]:
#Center - centers the variable with the width and values provided
#Only single character is provided
a.center(50,'x')

'xxxxxxxxxxxxxxxxxxxxxvishalgxxxxxxxxxxxxxxxxxxxxxx'

In [21]:
#If multiple character is provided, it throws error
a.center(50,'xy')

TypeError: The fill character must be exactly one character long

In [22]:
#Expandtabs - remove tabs '\t' from data 
s='vishal\tganesan'

In [23]:
s.expandtabs()

'vishal  ganesan'

In [24]:
#Format function
#{} is the place holder of data where we are going to pass values in run time
d = 'vishal ganesan is a data {}'

In [25]:
d.format('analyst')

'vishal ganesan is a data analyst'

In [26]:
d.format('scientist')

'vishal ganesan is a data scientist'

In [28]:
a = input('Enter the name:')
'my name is {}'.format(a)

Enter the name:Vishal Ganesan

'my name is Vishal Ganesan'

In [29]:
a = input('Enter the First name:')
b = input('Enter the Second name:')
'my name is {}{}'.format(a,b)
#must follow sequence. Order must be sequential. Any numbers of args can be passed. But should be sequential.

Enter the First name:Vishal
Enter the Second name:Ganesan

'my name is VishalGanesan'

In [30]:
a = input('Enter the First name:')
b = input('Enter the Second name:')
'my name is {}'.format(a,b)
#with one place holder removed, it still works

Enter the First name:Vishal
Enter the Second name:Ganesan

'my name is Vishal'

In [31]:
a = input('Enter the First name:')
b = input('Enter the Second name:')
'my name is {}{}'.format(a)
#with one argument in format removed, it won't work

Enter the First name:Vishal
Enter the Second name:Ganesan

IndexError: tuple index out of range

If curly braces is more and args is less, it is fine
If curly braces is less and args is more, then it will throw error

In [32]:
#IS FUNCTIONS
#WILL BE RETURNING EITHER TRUE OR FALSE - BOOLEAN VALUE.KIND OF IF ELSE.

In [33]:
s = 'hello'
s.isalnum()

True

In [34]:
s.isalpha()

True

In [35]:
s ='3456'
s.isalpha()

False

In [36]:
s ='hello234'
s.islower()

True

In [37]:
s ='Hello234'
s.islower()

False

In [40]:
s ='01234'
s.islower()
#Lower can be checked for both alpha and alphanumeric, but not alone for numeric

False

In [41]:
s = 'HDFC'
s.isupper()

True

In [42]:
s = 'Hdfc'
s.isupper()

False

In [43]:
#ISTITLE - First letter should be caps remaining should be small
s = 'Vishal'
s.istitle()

True

In [45]:
s = 'vISHAL'
s.istitle()

False

In [46]:
s = 'VISHAL'
s.istitle()

False

In [47]:
s = 'Vishal'
s.endswith('l')

True

In [48]:
s = 'Vishal'
s.endswith('a')

False

In [49]:
#len - length of entire indexes 
len(s)

6

In [50]:
print(s)
#always returns a none type

Vishal

In [51]:
s

'Vishal'

# LIST OPERATIONS

In [52]:
a=[1,3,4,5,'VISHAL']
b=[2,3,4,'GANESAN']
a+b

[1, 3, 4, 5, 'VISHAL', 2, 3, 4, 'GANESAN']

In [53]:
(a+b)*2

[1,
 3,
 4,
 5,
 'VISHAL',
 2,
 3,
 4,
 'GANESAN',
 1,
 3,
 4,
 5,
 'VISHAL',
 2,
 3,
 4,
 'GANESAN']

In [54]:
(a+b)*0

[]

In [55]:
b + 'vishal'

TypeError: can only concatenate list (not "str") to list

In [56]:
#convert into a list
b + ['vishal']

[2, 3, 4, 'GANESAN', 'vishal']

In [57]:
b + list('vishal')
#List function always takes iteratable objects. So pass strings inside square braces []

[2, 3, 4, 'GANESAN', 'v', 'i', 's', 'h', 'a', 'l']

In [59]:
list('vishal')
#for string

['v', 'i', 's', 'h', 'a', 'l']

In [63]:
list([34])
#for integer

[34]

In [65]:
b.append("sudha")
b
#appends data at last

[2, 3, 4, 'GANESAN', 'sudha', 'sudha']

In [66]:
#Insert - inserts data at any specified position and before the indexes
b.insert(3,"Vishal")

In [67]:
b

[2, 3, 4, 'Vishal', 'GANESAN', 'sudha', 'sudha']

In [68]:
b.append([2,3,4])
b

[2, 3, 4, 'Vishal', 'GANESAN', 'sudha', 'sudha', [2, 3, 4]]

In [69]:
b.insert(-1,[5,6,7])

In [120]:
b

[5, 6, 7]

In [129]:
b=[2, 3, 3, 4, 'Vishal', 'GANESAN', 'sudha', 'sudha', [5, 6, 7],8]

In [130]:
#POP - tries to remove data from very last index - permanent removal
b.pop()
b

[2, 3, 3, 4, 'Vishal', 'GANESAN', 'sudha', 'sudha', [5, 6, 7]]

In [131]:
b.pop(4)

'Vishal'

In [134]:
#remove operation
b.remove(3)
b

[2, 4, 'GANESAN', 'sudha', 'sudha', [5, 6, 7]]

In [139]:
#Remove multiple occurances in list
n =[1,2,3,4,5,6,5,4,7,[1,2]]
for i in n:
    if i == 4:
        n.remove(4)
n

[1, 2, 3, 5, 6, 5, 7, [1, 2]]

In [143]:
#Remove multiple occurances in list within list
n =[1,2,3,4,5,6,5,4,7,[1,2]]
for i in n:
    if i == 1:
        n.remove(1)
    elif type(i) == list:
        i.remove(1)
    else:
        print('not printing anything')
print(n)
print(i)

not printing anything
not printing anything
not printing anything
not printing anything
not printing anything
not printing anything
not printing anything
[2, 3, 4, 5, 6, 5, 4, 7, [2]]
[2]

Difference between POP AND REMOVE
POP - removes the data in the list based on the index
REMOVE - removes the data in the list based on the value or number provided

In [133]:
b[::-1]

[[5, 6, 7], 'sudha', 'sudha', 'GANESAN', 4, 3, 2]

In [80]:
b[::-1]

[2, 3, 4, 'GANESAN', 'sudha', 'sudha', [5, 6, 7]]

In [82]:
b.reverse()
b

[[5, 6, 7], 'sudha', 'sudha', 'GANESAN', 4, 3, 2]

In [83]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [85]:
#Sort - in sort, either you can use only integer value in list or string value in list, not both combined
n=[1,3,6,5,4]
n.sort()
n

[1, 3, 4, 5, 6]

In [86]:
n = ['vishal','ganesan','sudha','vaishnavi']
n.sort()
n

['ganesan', 'sudha', 'vaishnavi', 'vishal']

Reversal

In [87]:
n.sort(reverse=True)
n

['vishal', 'vaishnavi', 'sudha', 'ganesan']

In [89]:
n.sort(reverse=False)
n

['ganesan', 'sudha', 'vaishnavi', 'vishal']

In [90]:
#Nested Lists
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,0,'vishal','ganesan','vaishnavi','sudha']
d=[a,b,c]
d

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 0, 'vishal', 'ganesan', 'vaishnavi', 'sudha']]

In [91]:
d[2][2]

'vishal'

In [92]:
d[-1][-4]

'vishal'

In [93]:
d[::-1]

[[9, 0, 'vishal', 'ganesan', 'vaishnavi', 'sudha'], [5, 6, 7, 8], [1, 2, 3, 4]]

In [94]:
d[-1][::]

[9, 0, 'vishal', 'ganesan', 'vaishnavi', 'sudha']

In [98]:
d[-1][::-1]

['sudha', 'vaishnavi', 'ganesan', 'vishal', 0, 9]

In [96]:
d[-1][::2]

[9, 'vishal', 'vaishnavi']

In [97]:
d

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 0, 'vishal', 'ganesan', 'vaishnavi', 'sudha']]

In [100]:
#Reversing the 'd' values
m=[]
d
for i in d:
    m.append(i[::-1])
m

[[4, 3, 2, 1], [8, 7, 6, 5], ['sudha', 'vaishnavi', 'ganesan', 'vishal', 0, 9]]

In [101]:
d

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 0, 'vishal', 'ganesan', 'vaishnavi', 'sudha']]

In [104]:
#Get the 2nd position from all the list
n=[]
for i in d:
    n.append(i[2])
n

[3, 7, 'vishal']

In [106]:
#Get the 1st index from all the list and multiply by 3
n=[]
for i in d:
    n.append(i[1]*3)
n

[6, 18, 0]

In [107]:
#LIST COMPREHENSION: (SAME AS ABOVE)- EVERYTHING TO BE ENCLOSED IN LIST [] SQUARE BRACKET
[i[1]*3 for i in d]

[6, 18, 0]

In [108]:
[{i[1]*3} for i in d]

[{6}, {18}, {0}]

APPEND AND EXTEND:
APPEND - Appends the data at the last position even if it is a list . eg: ['a'] and append [1,2,3] so ['a',[1,2,3]]
EXTEND - Unwraps the list and adds as list itself instead of separate list. eg: ['a',1,2,3]
In extend, only first list can be raveled. If list inside list, it won't ravel.

In [110]:
m = [1,2,3]
m.extend([4,5,6])
m

[1, 2, 3, 4, 5, 6]

In [111]:
m = [1,2,3]
m.append([4,5,6])
m

[1, 2, 3, [4, 5, 6]]

In [112]:
m = [1,2,3]
m.extend([4,5,6,[7,8,9]])
m

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [116]:
#Remove operation
m.remove(6)
m

[1, 2, 3, 4, 5, [7, 8, 9]]

In [113]:
#Index - returns index of first occurance
m.index(6)

5

In [114]:
m.index(7)

ValueError: 7 is not in list

In [115]:
m.index(10)

ValueError: 10 is not in list

FIND & INDEX - 
Find returns -1 if value not found.
Index returns value is not present in list.

In [145]:
#List inside List comprehensive
[p*2 for p in [i[2] for i in [[1,2,3],[6,7,8],[5,6,6,7,8]]]]

[6, 16, 12]

String doesn't allow mutable operation where list does.

In [147]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [149]:
l[0]=5
l
#replaces 0th index with 5

[5, 2, 3, 4]

In [150]:
n = 'vishal'
n

'vishal'

In [152]:
n[0]

'v'

In [153]:
n[0]='s'

TypeError: 'str' object does not support item assignment

Strings and Tuples are immmutables whereas List is mutable

# TUPLE: