# PANDAS (CONT):

In [1]:
import pandas as pd

In [9]:
import numpy as np

In [3]:
pd.date_range('20/5/2020',periods=7)
#startdate, end date and period

DatetimeIndex(['2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23',
               '2020-05-24', '2020-05-25', '2020-05-26'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range('20/5/2020',periods=7,freq='M')
#Month end date

DatetimeIndex(['2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30'],
              dtype='datetime64[ns]', freq='M')

In [5]:
pd.date_range('20/5/2020',periods=7,freq='D')
#Date freq ranges

DatetimeIndex(['2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23',
               '2020-05-24', '2020-05-25', '2020-05-26'],
              dtype='datetime64[ns]', freq='D')

In [7]:
d = pd.date_range('20/5/2020',periods=7,freq='Y')
#Year range

In [8]:
pd.Series()

C:\Users\ELCOT\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [10]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [11]:
np.arange(7.)

array([0., 1., 2., 3., 4., 5., 6.])

In [12]:
range(7.)

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
#arange in numpy supports floating point operation where range in python doesnt

In [14]:
pd.Series(np.arange(7))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int32

In [16]:
pd.Series(np.arange(2,9))
#We have data along with indexes

0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int32

In [17]:
#To give our own index instead of default index:
#pd.Series(Data=none,Index=none)

In [18]:
#Based on index generated for date as 'd' variable
pd.Series(np.arange(2,9),index=d)
#We have data along with indexes

2020-12-31    2
2021-12-31    3
2022-12-31    4
2023-12-31    5
2024-12-31    6
2025-12-31    7
2026-12-31    8
Freq: A-DEC, dtype: int32

In [19]:
#When index is 8, index should be equal to number of data, else will pop out
#Date is passed as index
pd.Series(np.arange(2,8),index=d)

ValueError: Length of passed values is 6, index implies 7.

In [22]:
#Index as list:
pd.Series(np.arange(2,9),index=[1,2,3,'vishal','ganesan','sudha','vaishu'])

1          2
2          3
3          4
vishal     5
ganesan    6
sudha      7
vaishu     8
dtype: int32

In [24]:
#Both Data and Index as List:
s=pd.Series([4,5,6,'G','K','G','G'],index=[1,2,3,'vishal','ganesan','sudha','vaishu'])
s

1          4
2          5
3          6
vishal     G
ganesan    K
sudha      G
vaishu     G
dtype: object

In [25]:
s[3]

6

In [27]:
s['vishal']

'G'

In [2]:
#Instead of using read_csv (without using pandas function, but not recommended function)
import csv

In [28]:
f = open(r'C:\Users\ELCOT\Downloads\ineuron Python\examples\ex7.csv')

In [29]:
f

In [30]:
for i in f:
    print(f)

<_io.TextIOWrapper name='C:\\Users\\ELCOT\\Downloads\\ineuron Python\\examples\\ex7.csv' mode='r' encoding='cp1252'>
<_io.TextIOWrapper name='C:\\Users\\ELCOT\\Downloads\\ineuron Python\\examples\\ex7.csv' mode='r' encoding='cp1252'>
<_io.TextIOWrapper name='C:\\Users\\ELCOT\\Downloads\\ineuron Python\\examples\\ex7.csv' mode='r' encoding='cp1252'>

In [6]:
for i in f:
    print(i)

In [31]:
c= csv.reader(f)

In [16]:
#Option1 - use CSV reader and iterate thru for loop:
#csv provides a reader

In [17]:
for i in csv.reader(f):
    print(i)

In [32]:
for i in c:
    
    print(i)
#reading a csv dataset - butoutput is not showing up

In [23]:
c

In [24]:
with open(r'C:\Users\ELCOT\Downloads\ineuron Python\examples\ex7.csv') as f:
    lines = csv.reader(f)

In [25]:
lines

In [33]:
with open(r'C:\Users\ELCOT\Downloads\ineuron Python\examples\ex7.csv') as f:
    lines = list(csv.reader(f))
#objects are stored inside list

In [34]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [35]:
#zip function
a=[1,2]
b=[3,4]

In [37]:
zip(a,b)

In [38]:
list(zip(a,b))
#combines same index data of both a and b. Mapping based on index

[(1, 3), (2, 4)]

In [39]:
#It wont zip if there are no values in the other variable
a=[1,2,5,6]
b=[3,4]

In [40]:
list(zip(a,b))

[(1, 3), (2, 4)]

In [41]:
a=[1,2,5,6]
b=[3,4]
c=[7,8,9,0]

In [42]:
list(zip(a,b,c))
#Even if one index is missing in any variable,it won't consider

[(1, 3, 7), (2, 4, 8)]

In [43]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [44]:
#Create a dictionary based on key value pair using zip function:
lines[1:]

[['1', '2', '3'], ['1', '2', '3']]

In [46]:
list(zip(lines[1],lines[2]))

[('1', '1'), ('2', '2'), ('3', '3')]

In [47]:
k,v = lines[0],lines[1:]

In [48]:
k

['a', 'b', 'c']

In [49]:
v

[['1', '2', '3'], ['1', '2', '3']]

In [50]:
list(zip(v))

[(['1', '2', '3'],), (['1', '2', '3'],)]

In [51]:
#static of v - it do unwrap the data: Get the pairs:
list(zip(*v))

[('1', '1'), ('2', '2'), ('3', '3')]

In [52]:
zip(k,zip(*v))

In [53]:
list(zip(k,zip(*v)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [54]:
{k:v for k,v in zip(k,zip(*v))}

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [94]:
obj = """
{"name":"Wes",
 "places_lived": ["United States","SPAIN","GERMANY"],
 "pet":null,
 "siblings": [{"name":"Scott","age":30,"pets":["Zeus","Zuko"],"key1":[1,2,34]},
              {"name":"Katie","age":38,
               "pets": ["Sixes","Stache","Cisco"]}]
}
"""

In [95]:
type(obj)

str

In [96]:
import json

In [97]:
j = json.loads(obj)
type(j)

dict

In [98]:
#OP will be a dictinary. remove comments and execute

In [103]:
 j['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko'], 'key1': [1, 2, 34]},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [106]:
import pandas as pd

In [108]:
pd.DataFrame(j['siblings'])

    name  age                    pets        key1
0  Scott   30            [Zeus, Zuko]  [1, 2, 34]
1  Katie   38  [Sixes, Stache, Cisco]         NaN

In [111]:
d = pd.DataFrame(j['siblings'],columns=['name','pets'])
d

    name                    pets
0  Scott            [Zeus, Zuko]
1  Katie  [Sixes, Stache, Cisco]

In [110]:
pd.DataFrame(j['siblings'],columns=['asjdh','pets'])

   asjdh                    pets
0    NaN            [Zeus, Zuko]
1    NaN  [Sixes, Stache, Cisco]

In [115]:
d.to_json('gv.json')

#OP:
{"name":{"0":"Scott","1":"Katie"},"pets":{"0":["Zeus","Zuko"],"1":["Sixes","Stache","Cisco"]}}

In [116]:
 d.to_json('gv.json',orient='records')

#OP:
[{"name":"Scott","pets":["Zeus","Zuko"]},{"name":"Katie","pets":["Sixes","Stache","Cisco"]}]

In [117]:
#Reading data from API:
import requests

In [118]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [119]:
requests.get(url)
#If 200, response is fine

In [123]:
r = requests.get(url)
r

In [121]:
type(r)

requests.models.Response

In [125]:
u = r.json()
u

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34302',
  'id': 622793089,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDIxNTkwMDE0',
  'number': 34302,
  'title': 'TST: 24798 df.replace() with duplicate columns',
  'user': {'login': 'matteosantama',
   'id': 13473688,
   'node_id': 'MDQ6VXNlcjEzNDczNjg4',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/13473688?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/matteosantama',
   'html_url': 'https://github.com/matteosantama',
   'followers_url': 'https://api.github.com/users/matteosantama/followers',
   'following_url': 'https://api.github.com/users/matteosantama/following{/other_user}',
   'gists_url': 'https://api.github.com/users/matteosantama/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/matteosantama/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/matteosantama/subscriptions',
   'organizations_url': 'https://api.github.com/users/matteosantama/orgs',
   'repos_url': 'https://api.github.com/users/matteosantama/repos',
   'events_url': 'https://api.github.com/users/matteosantama/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/matteosantama/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-05-21T21:14:44Z',
  'updated_at': '2020-05-21T21:14:44Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34302',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/34302',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/34302.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/34302.patch'},
  'body': '- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [x] passes `black pandas`\r\n- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34301',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34301/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34301/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34301/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34301',
  'id': 622785759,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDIxNTg0MDE2',
  'number': 34301,
  'title': 'CLN: de-duplicate tzlocal conversion function',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-05-21T21:01:31Z',
  'updated_at': '2020-05-21T21:01:31Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34301',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/34301',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/34301.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/34301.patch'},
  'body': ''},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34299',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34299/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34299/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34299/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/34299',
  'id': 622689869,
  'node_id': 'MDU6SXNzdWU2MjI2ODk4Njk=',
  'number': 34299,
  'title': 'BUG: TestMergeDtypes.test_merge_on_ints_floats_warning fails (Linux/openSUSE/Factory)',
  'user': {'login': 'mcepl',
   'id': 198999,
   'node_id': 'MDQ6VXNlcjE5ODk5OQ==',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/198999?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mcepl',
   'html_url': 'https://github.com/mcepl',
   'followers_url': 'https://api.github.com/users/mcepl/followers',
   'following_url': 'https://api.github.com/users/mcepl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mcepl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mcepl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mcepl/subscriptions',
   'organizations_url': 'https://api.github.com/users/mcepl/orgs',
   'repos_url': 'https://api.github.com/users/mcepl/repos',
   'events_url': 'https://api.github.com/users/mcepl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mcepl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-05-21T18:23:54Z',
  'updated_at': '2020-05-21T18:23:54Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': '- [X] I have checked that this issue has not already been reported (cannot find any ``test_merge`` issue)\r\n\r\n- [X] I have confirmed this bug exists on the latest version of pandas (testing on 1.0.3, which is the latest released).\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas. (This happened while building the package for openSUSE, so we care to use only officially released versions).\r\n\r\n#### Problem description\r\n\r\nWhile running the test suite, this one test fails consistently:\r\n```\r\n[  363s] + export PYTHONPATH=/home/abuild/rpmbuild/BUILDROOT/python-pandas-1.0.3-0.i386/usr/lib/python3.8/site-packages\r\n[  363s] + PYTHONPATH=/home/abuild/rpmbuild/BUILDROOT/python-pandas-1.0.3-0.i386/usr/lib/python3.8/site-packages\r\n[  363s] + xvfb-run py.test-3.8 -n auto -v /home/abuild/rpmbuild/BUILDROOT/python-pandas-1.0.3-0.i386/usr/lib/python3.8/site-packages/pandas/tests -k \'not test_oo_optimizable and not test_encode_non_c_locale and not test_maybe_promote_int_with_int\'\r\n[  368s] ============================= test session starts ==============================\r\n[  368s] platform linux -- Python 3.8.2, pytest-5.3.5, py-1.8.1, pluggy-0.13.1 -- /usr/bin/python3\r\n[  368s] cachedir: .pytest_cache\r\n[  368s] hypothesis profile \'ci\' -> deadline=timedelta(milliseconds=500), suppress_health_check=[HealthCheck.too_slow], database=DirectoryBasedExampleDatabase(\'/home/abuild/rpmbuild/BUILD/pandas-1.0.3/.hypothesis/examples\')\r\n[  368s] rootdir: /home/abuild/rpmbuild\r\n[  368s] plugins: forked-1.1.3, hypothesis-5.11.0, xdist-1.32.0, mock-3.1.0\r\n[ 1070s] =================================== FAILURES ===================================\r\n[ 1070s] ______________ TestMergeDtypes.test_merge_on_ints_floats_warning _______________\r\n[ 1070s] [gw0] linux -- Python 3.8.2 /usr/bin/python3\r\n[ 1070s] \r\n[ 1070s] self = <pandas.tests.reshape.merge.test_merge.TestMergeDtypes object at 0x9419e988>\r\n[ 1070s] \r\n[ 1070s]     def test_merge_on_ints_floats_warning(self):\r\n[ 1070s]         # GH 16572\r\n[ 1070s]         # merge will produce a warning when merging on int and\r\n[ 1070s]         # float columns where the float values are not exactly\r\n[ 1070s]         # equal to their int representation\r\n[ 1070s]         A = DataFrame({"X": [1, 2, 3]})\r\n[ 1070s]         B = DataFrame({"Y": [1.1, 2.5, 3.0]})\r\n[ 1070s]         expected = DataFrame({"X": [3], "Y": [3.0]})\r\n[ 1070s]     \r\n[ 1070s]         with tm.assert_produces_warning(UserWarning):\r\n[ 1070s]             result = A.merge(B, left_on="X", right_on="Y")\r\n[ 1070s]             tm.assert_frame_equal(result, expected)\r\n[ 1070s]     \r\n[ 1070s]         with tm.assert_produces_warning(UserWarning):\r\n[ 1070s]             result = B.merge(A, left_on="Y", right_on="X")\r\n[ 1070s]             tm.assert_frame_equal(result, expected[["Y", "X"]])\r\n[ 1070s]     \r\n[ 1070s]         # test no warning if float has NaNs\r\n[ 1070s]         B = DataFrame({"Y": [np.nan, np.nan, 3.0]})\r\n[ 1070s]     \r\n[ 1070s]         with tm.assert_produces_warning(None):\r\n[ 1070s]             result = B.merge(A, left_on="Y", right_on="X")\r\n[ 1070s] >           tm.assert_frame_equal(result, expected[["Y", "X"]])\r\n[ 1070s] \r\n[ 1070s] ../../BUILDROOT/python-pandas-1.0.3-0.i386/usr/lib/python3.8/site-packages/pandas/tests/reshape/merge/test_merge.py:1484: \r\n[ 1070s] _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ \r\n[ 1070s] \r\n[ 1070s] self = <contextlib._GeneratorContextManager object at 0x9419e340>, type = None\r\n[ 1070s] value = None, traceback = None\r\n[ 1070s] \r\n[ 1070s]     def __exit__(self, type, value, traceback):\r\n[ 1070s]         if type is None:\r\n[ 1070s]             try:\r\n[ 1070s] >               next(self.gen)\r\n[ 1070s] E               AssertionError: Caused unexpected warning(s): [(\'RuntimeWarning\', RuntimeWarning(\'invalid value encountered in equal\'), \'/home/abuild/rpmbuild/BUILDROOT/python-pandas-1.0.3-0.i386/usr/lib/python3.8/site-packages/pandas/core/reshape/merge.py\', 1091)]\r\n[ 1070s] \r\n[ 1070s] /usr/lib/python3.8/contextlib.py:120: AssertionError\r\n```\r\n\r\n#### Expected Output\r\n\r\nAll tests pass.\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[  403s] + python3 -c \'import pandas; print(pandas.show_versions())\'\r\n[  404s] /usr/lib/python3.8/site-packages/setuptools/version.py:1: UserWarning: Module pandah\r\n[  404s]   import pkg_resources\r\n[  404s] \r\n[  404s] INSTALLED VERSIONS\r\n[  404s] ------------------\r\n[  404s] commit           : None\r\n[  404s] python           : 3.8.2.final.0\r\n[  404s] python-bits      : 32\r\n[  404s] OS               : Linux\r\n[  404s] OS-release       : 5.6.12-1-default\r\n[  404s] machine          : i686\r\n[  404s] processor        : i686\r\n[  404s] byteorder        : little\r\n[  404s] LC_ALL           : en_US.UTF-8\r\n[  404s] LANG             : en_US.UTF-8\r\n[  404s] LOCALE           : en_US.UTF-8\r\n[  404s] \r\n[  404s] pandas           : 1.0.3\r\n[  404s] numpy            : 1.18.4\r\n[  404s] pytz             : 2020.1\r\n[  404s] dateutil         : 2.8.1\r\n[  404s] pip              : None\r\n[  404s] setuptools       : 44.0.0\r\n[  404s] Cython           : 0.29.17\r\n[  404s] pytest           : 5.3.5\r\n[  404s] hypothesis       : 5.11.0\r\n[  404s] sphinx           : None\r\n[  404s] blosc            : None\r\n[  404s] feather          : None\r\n[  404s] xlsxwriter       : 1.2.7\r\n[  404s] lxml.etree       : 4.5.0\r\n[  404s] html5lib         : None\r\n[  404s] pymysql          : None\r\n[  404s] psycopg2         : None\r\n[  404s] jinja2           : 2.11.2\r\n[  404s] IPython          : None\r\n[  404s] pandas_datareader: None\r\n[  404s] bs4              : 4.9.0\r\n[  404s] bottleneck       : None\r\n[  404s] fastparquet      : None\r\n[  404s] gcsfs            : None\r\n[  404s] lxml.etree       : 4.5.0\r\n[  404s] matplotlib       : None\r\n[  404s] numexpr          : None\r\n[  404s] odfpy            : None\r\n[  404s] openpyxl         : 3.0.3\r\n[  404s] pandas_gbq       : None\r\n[  404s] pyarrow          : None\r\n[  404s] pytables         : None\r\n[  404s] pytest           : 5.3.5\r\n[  404s] pyxlsb           : None\r\n[  404s] s3fs             : None\r\n[  404s] scipy            : None\r\n[  404s] sqlalchemy       : 1.3.16\r\n[  404s] tables           : None\r\n[  404s] tabulate         : None\r\n[  404s] xarray           : None\r\n[  404s] xlrd             : 1.2.0\r\n[  404s] xlwt             : 1.3.0\r\n[  404s] xlsxwriter       : 1.2.7\r\n[  404s] numba            : None\r\n[  404s] None\r\n\r\n</details>\r\n\r\n[Complete build log with all details of the process](https://github.com/pandas-dev/pandas/files/4664063/_log.txt.zip)\r\n\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34298',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34298/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34298/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34298/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/34298',
  'id': 622643120,
  'node_id': 'MDU6SXNzdWU2MjI2NDMxMjA=',
  'number': 34298,
  'title': 'sum() after groupby returns different value compared to regular sum()',
  'user': {'login': 'Denisolt',
   'id': 17182033,
   'node_id': 'MDQ6VXNlcjE3MTgyMDMz',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/17182033?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Denisolt',
   'html_url': 'https://github.com/Denisolt',
   'followers_url': 'https://api.github.com/users/Denisolt/followers',
   'following_url': 'https://api.github.com/users/Denisolt/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Denisolt/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Denisolt/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Denisolt/subscriptions',
   'organizations_url': 'https://api.github.com/users/Denisolt/orgs',
   'repos_url': 'https://api.github.com/users/Denisolt/repos',
   'events_url': 'https://api.github.com/users/Denisolt/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Denisolt/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 34444536,
    'node_id': 'MDU6TGFiZWwzNDQ0NDUzNg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Usage%20Question',
    'name': 'Usage Question',
    'color': '0052cc',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-05-21T17:00:59Z',
  'updated_at': '2020-05-21T18:59:36Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "- [x] I have checked that this issue has not already been reported.\r\n\r\n- [x] I have confirmed this bug exists on the latest version of pandas.\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.\r\n\r\n---\r\n\r\n#### Code Sample, a copy-pastable example\r\n\r\n```python\r\nnp.random.seed(0)\r\ndf = pd.DataFrame(np.random.rand(253, 2) * 254, columns=['a', 'b'])\r\ndf['type'] = 'test'\r\n\r\nsum_mult_v1 = df.assign(mult=(lambda x: x.a * x.b)).groupby('type')['mult'].sum()[0]\r\nsum_mult_v2 = (df['a'] * df['b']).sum()\r\nprint(sum_mult_v1)\r\nprint(sum_mult_v2)\r\nprint(sum_mult_v1 == sum_mult_v2)\r\n```\r\n\r\n#### Problem description\r\nThe output of the code is:\r\n```\r\n4010049.3807103755\r\n4010049.3807103736\r\nFalse\r\n```\r\n\r\nFor some reason, the summation of values after groupby is different from the same operation done without a groupby. I understand that there is no point in grouping by a column that only has one value, but I wonder if there is something off with the summation function after groupby? \r\n\r\n#### Expected Output\r\nThe expected output would be having the same numbers. \r\n```\r\n4010049.3807103736\r\n4010049.3807103736\r\nTrue\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.6.final.0\r\npython-bits      : 64\r\nOS               : Darwin\r\nOS-release       : 19.4.0\r\nmachine          : x86_64\r\nprocessor        : i386\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 1.0.3\r\nnumpy            : 1.18.1\r\npytz             : 2020.1\r\ndateutil         : 2.8.1\r\npip              : 20.0.2\r\nsetuptools       : 45.2.0.post20200210\r\nCython           : 0.29.17\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 1.2.8\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.11.2\r\nIPython          : 7.14.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : None\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\npytest           : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.4.1\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nxlsxwriter       : 1.2.8\r\nnumba            : 0.49.1\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34297',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34297/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34297/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34297/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/34297',
  'id': 622612713,
  'node_id': 'MDU6SXNzdWU2MjI2MTI3MTM=',
  'number': 34297,
  'title': 'BUG: Subsequent calls to df.sub() are much faster than the first call',
  'user': {'login': 'philippegr',
   'id': 11066355,
   'node_id': 'MDQ6VXNlcjExMDY2MzU1',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/11066355?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/philippegr',
   'html_url': 'https://github.com/philippegr',

In [126]:
u[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34302/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/34302',
 'id': 622793089,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0NDIxNTkwMDE0',
 'number': 34302,
 'title': 'TST: 24798 df.replace() with duplicate columns',
 'user': {'login': 'matteosantama',
  'id': 13473688,
  'node_id': 'MDQ6VXNlcjEzNDczNjg4',
  'avatar_url': 'https://avatars0.githubusercontent.com/u/13473688?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/matteosantama',
  'html_url': 'https://github.com/matteosantama',
  'followers_url': 'https://api.github.com/users/matteosantama/followers',
  'following_url': 'https://api.github.com/users/matteosantama/following{/other_user}',
  'gists_url': 'https://api.github.com/users/matteosantama/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/matteosantama/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/matteosantama/subscriptions',
  'organizations_url': 'https://api.github.com/users/matteosantama/orgs',
  'repos_url': 'https://api.github.com/users/matteosantama/repos',
  'events_url': 'https://api.github.com/users/matteosantama/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/matteosantama/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2020-05-21T21:14:44Z',
 'updated_at': '2020-05-21T21:14:44Z',
 'closed_at': None,
 'author_association': 'NONE',
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34302',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34302',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/34302.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/34302.patch'},
 'body': '- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [x] passes `black pandas`\r\n- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'}

In [127]:
u[0]['user']

{'login': 'matteosantama',
 'id': 13473688,
 'node_id': 'MDQ6VXNlcjEzNDczNjg4',
 'avatar_url': 'https://avatars0.githubusercontent.com/u/13473688?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/matteosantama',
 'html_url': 'https://github.com/matteosantama',
 'followers_url': 'https://api.github.com/users/matteosantama/followers',
 'following_url': 'https://api.github.com/users/matteosantama/following{/other_user}',
 'gists_url': 'https://api.github.com/users/matteosantama/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/matteosantama/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/matteosantama/subscriptions',
 'organizations_url': 'https://api.github.com/users/matteosantama/orgs',
 'repos_url': 'https://api.github.com/users/matteosantama/repos',
 'events_url': 'https://api.github.com/users/matteosantama/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/matteosantama/received_events',
 'type': 'User',
 'site_admin': False}

In [128]:
u[0]['user']['followers_url']

'https://api.github.com/users/matteosantama/followers'

In [130]:
pd.DataFrame(u)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,assignee,assignees,milestone,comments,created_at,updated_at,closed_at,author_association,pull_request,body
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34302,622793089,MDExOlB1bGxSZXF1ZXN0NDIxNTkwMDE0,34302,TST: 24798 df.replace() with duplicate columns,...,None,[],None,0,2020-05-21T21:14:44Z,2020-05-21T21:14:44Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx\r\n- [ ] tests added / pass...
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34301,622785759,MDExOlB1bGxSZXF1ZXN0NDIxNTg0MDE2,34301,CLN: de-duplicate tzlocal conversion function,...,None,[],None,0,2020-05-21T21:01:31Z,2020-05-21T21:01:31Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34299,622689869,MDU6SXNzdWU2MjI2ODk4Njk=,34299,BUG: TestMergeDtypes.test_merge_on_ints_floats...,...,None,[],None,0,2020-05-21T18:23:54Z,2020-05-21T18:23:54Z,None,NONE,NaN,- [X] I have checked that this issue has not a...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34298,622643120,MDU6SXNzdWU2MjI2NDMxMjA=,34298,sum() after groupby returns different value co...,...,None,[],None,1,2020-05-21T17:00:59Z,2020-05-21T18:59:36Z,None,NONE,NaN,- [x] I have checked that this issue has not a...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34297,622612713,MDU6SXNzdWU2MjI2MTI3MTM=,34297,BUG: Subsequent calls to df.sub() are much fas...,...,None,[],None,7,2020-05-21T16:12:37Z,2020-05-21T21:01:09Z,None,NONE,NaN,- [X] I have checked that this issue has not a...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34296,622584953,MDExOlB1bGxSZXF1ZXN0NDIxNDIyMTA2,34296,"DOC:updated pie plot legend overlap issue, clo...",...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,0,2020-05-21T15:30:44Z,2020-05-21T16:22:03Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #34288\r\n- [ ] tests added / pas...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34293,622571691,MDExOlB1bGxSZXF1ZXN0NDIxNDExNTgz,34293,ENH: categorical scatter plot,...,None,[],None,8,2020-05-21T15:16:01Z,2020-05-21T19:42:04Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] xref #12380 (this idea was mentioned as ...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34292,622562646,MDU6SXNzdWU2MjI1NjI2NDY=,34292,BUG: left join between df with a single index ...,...,None,[],None,0,2020-05-21T15:02:28Z,2020-05-21T15:17:28Z,None,CONTRIBUTOR,NaN,- [x] I have checked that this issue has not a...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34291,622495438,MDExOlB1bGxSZXF1ZXN0NDIxMzQ5MDQx,34291,TYP: Add type hints to pd.read_html,...,None,[],None,3,2020-05-21T13:22:05Z,2020-05-21T19:58:22Z,None,CONTRIBUTOR,{'url': 'https://api.github.com/repos/pandas-d...,
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34290,622405243,MDU6SXNzdWU2MjI0MDUyNDM=,34290,dt.total_seconds() stores float with appending...,...,None,[],None,0,2020-05-21T10:28:16Z,2020-05-21T10:33:25Z,None,NONE,NaN,Simple test to show that if I have two datetim...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34288,622362884,MDU6SXNzdWU2MjIzNjI4ODQ=,34288,DOC: improve pie chart example,...,None,[],None,6,2020-05-21T09:10:02Z,2020-05-21T14:57:45Z,None,MEMBER,NaN,#### Location of the documentation\r\n\r\nhttp...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34286,622222285,MDExOlB1bGxSZXF1ZXN0NDIxMTI5ODMx,34286,CLN: always dispatch-to-series,...,None,[],None,0,2020-05-21T03:34:04Z,2020-05-21T16:23:23Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,A couple more cleanups follow this.
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34285,622219266,MDExOlB1bGxSZXF1ZXN0NDIxMTI3Mzk1,34285,REF: make BusinessMixin a cdef class,...,None,[],None,0,2020-05-21T03:24:30Z,2020-05-21T03:28:06Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,Getting the pickle working on this one was a P...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34284,622184542,MDExOlB1bGxSZXF1ZXN0NDIxMTAwNDU3,34284,REF: move get_rule_month to libparsing to simp...,...,None,[],None,0,2020-05-21T01:34:17Z,2020-05-21T01:40:50Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34283,622132365,MDU6SXNzdWU2MjIxMzIzNjU=,34283,BUG: querying AWS athena via pyathena connecti...,...,None,[],None,1,2020-05-20T22:50:38Z,2020-05-21T00:44:56Z,None,NONE,NaN,- [X] I have checked that this issue has not a...
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34282,622101625,MDExOlB1bGxSZXF1ZXN0NDIxMDM0MDU3,34282,REF: Make QuarterOffset a cdef class,...,None,[],None,1,2020-05-20T21:40:33Z,2020-05-21T01:40:42Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34281,622088846,MDExOlB1bGxSZXF1ZXN0NDIxMDIzMzEw,34281,REF: make operate_blockwise into a BlockManage...,...,None,[],None,0,2020-05-20T21:14:46Z,2020-05-21T01:40:33Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,More appropriate abstraction.\r\n\r\nIn upcomi...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34280,622078418,MDU6SXNzdWU2MjIwNzg0MTg=,34280,BUG: can't set up dev environment -- Import Er...,...,None,[],None,3,2020-05-20T20:54:29Z,2020-05-21T08:46:45Z,None,NONE,NaN,- [x] I have checked that this issue has not a...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34278,621909431,MDExOlB1bGxSZXF1ZXN0NDIwODcyMDc3,34278,REF: Make Period arith mirror PeriodArray arith,...,None,[],None,0,2020-05-20T16:33:50Z,2020-05-21T01:41:44Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,In follow-ups can use is_any_tdlike_scalar els...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34277,621882176,MDExOlB1bGxSZXF1ZXN0NDIwODQ4Mjkz,34277,"BUG: flex op with DataFrame, Series and ea vs ...",...,None,[],None,0,2020-05-20T16:04:18Z,2020-05-21T01:41:15Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx\r\n- [x] tests added / pass...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34275,621763136,MDExOlB1bGxSZXF1ZXN0NDIwNzUxMjU1,34275,ENH: fix arrow roundtrip for ExtensionDtypes i...,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,2,2020-05-20T13:28:20Z,2020-05-20T20:56:42Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,An oversight in our Arrow Extension Types for ...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34274,621720948,MDU6SXNzdWU2MjE3MjA5NDg=,34274,BUG: small error in pandas/io/pytables.py,...,None,[],None,2,2020-05-20T12:26:47Z,2020-05-21T03:23:06Z,None,NONE,NaN,- [x] I have checked that this issue has not a...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34273,621668877,MDU6SXNzdWU2MjE2Njg4Nzc=,34273,QST:Different results of pd.merge if using on=...,...,None,[],None,0,2020-05-20T11:00:13Z,2020-05-20T11:00:13Z,None,NONE,NaN,"Hello,\r\nI see a mysterious behaviour of merg..."
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34272,621633319,MDU6SXNzdWU2MjE2MzMzMTk=,34272,ENH: specify missing keys in KeyError when pas...,...,None,[],None,0,2020-05-20T10:04:10Z,2020-05-20T10:09:34Z,None,NONE,NaN,I'm a big fan of the strong limitation when pa...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34271,621583701,MDU6SXNzdWU2MjE1ODM3MDE=,34271,BUG: Same function calls on the same DataFrame...,...,None,[],None,1,2020-05-20T08:53:34Z,2020-05-20T10:43:59Z,None,NONE,NaN,- [x] I have checked that this issue has not a...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34270,621528185,MDU6SXNzdWU2MjE1MjgxODU=,34270,Problem with obtaining a view of a DataFrame u...,...,None,[],None,1,2020-05-20T07:30:49Z,2020-05-20T08:09:18Z,None,NONE,NaN,"Hello, I am trying to obtain a view of a panda..."
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34268,621396928,MDExOlB1bGxSZXF1ZXN0NDIwNDU3NDE3,34268,TST: GH28813 test .diff() on Sparse dtype,...,None,[],None,1,2020-05-20T01:46:51Z,2020-05-20T16:43:27Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #28813 \r\n- [x] tests added / pa...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34267,621349822,MDExOlB1bGxSZXF1ZXN0NDIwNDE5MzA1,34267,"Fix .isin Considers ""1"" and 1 equal",...,None,[],None,0,2020-05-19T23:30:12Z,2020-05-21T01:34:05Z,None,CONTRIBUTOR,{'url': 'https://api.github.com/repos/pandas-d...,- [X ] closes #34125\r\n- [X ] tests added / p...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34266,621247327,MDExOlB1bGxSZXF1ZXN0NDIwMzM0NzI5,34266,WIP: add fsspec support,...,None,[],None,4,2020-05-19T19:59:53Z,2020-05-21T20:51:09Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,Supersedes https://github.com/pandas-dev/panda...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34265,621167406,MDExOlB1bGxSZXF1ZXN0NDIwMjY5MDYw,34265,REF: Make WeekOfMonthMixin a cdef class,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,2,2020-05-19T17:44:19Z,2020-05-20T18:18:46Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,

In [131]:
 pd.DataFrame(u).head(3)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,assignee,assignees,milestone,comments,created_at,updated_at,closed_at,author_association,pull_request,body
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34302,622793089,MDExOlB1bGxSZXF1ZXN0NDIxNTkwMDE0,34302,TST: 24798 df.replace() with duplicate columns,...,None,[],None,0,2020-05-21T21:14:44Z,2020-05-21T21:14:44Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx\r\n- [ ] tests added / pass...
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/34301,622785759,MDExOlB1bGxSZXF1ZXN0NDIxNTg0MDE2,34301,CLN: de-duplicate tzlocal conversion function,...,None,[],None,0,2020-05-21T21:01:31Z,2020-05-21T21:01:31Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/34299,622689869,MDU6SXNzdWU2MjI2ODk4Njk=,34299,BUG: TestMergeDtypes.test_merge_on_ints_floats...,...,None,[],None,0,2020-05-21T18:23:54Z,2020-05-21T18:23:54Z,None,NONE,NaN,- [X] I have checked that this issue has not a...

In [134]:
#Use only specific columns:
pd.DataFrame(u,columns=['url','state','number']).head(3)

                                                 url state  number
0  https://api.github.com/repos/pandas-dev/pandas...  open   34302
1  https://api.github.com/repos/pandas-dev/pandas...  open   34301
2  https://api.github.com/repos/pandas-dev/pandas...  open   34299

In [136]:
#User have list inside it
pd.DataFrame(u,columns=['url','state','number','user']).head(3)

,url,state,number,user
0,https://api.github.com/repos/pandas-dev/pandas...,open,34302,"{'login': 'matteosantama', 'id': 13473688, 'no..."
1,https://api.github.com/repos/pandas-dev/pandas...,open,34301,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
2,https://api.github.com/repos/pandas-dev/pandas...,open,34299,"{'login': 'mcepl', 'id': 198999, 'node_id': 'M..."

In [138]:
#READ HTML PAGE:
h = pd.read_html(r'C:\Users\ELCOT\Downloads\ineuron Python\examples\fdic_failed_bank_list.html')
h

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [139]:
type(h)

list

In [140]:
len(h)

1

In [141]:
h[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [142]:
h[0].dtypes

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
Updated Date             object
dtype: object

In [146]:
#To convert date column which was in string to date format
d = pd.to_datetime(h[0]['Closing Date'])
d

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [147]:
type(d)

pandas.core.series.Series

In [148]:
type(d[0])

pandas._libs.tslibs.timestamps.Timestamp

In [150]:
#create a new column
df = h[0]
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [151]:
#to add new column
df['new_col_updated_date'] = d

In [152]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,new_col_updated_date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016",2016-09-23
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016",2016-08-19
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016",2016-05-06
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016",2016-04-29
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016",2016-03-11
...,...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014",2001-07-27
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002",2001-05-03
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003",2001-02-02
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005",2000-12-14
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005",2000-10-13

In [153]:
#to update in existing column:
df['Closing Date'] = d

In [154]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,new_col_updated_date
0,Allied Bank,Mulberry,AR,91,Today's Bank,2016-09-23,"November 17, 2016",2016-09-23
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,2016-08-19,"November 17, 2016",2016-08-19
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,2016-05-06,"September 6, 2016",2016-05-06
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,2016-04-29,"September 6, 2016",2016-04-29
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,2016-03-11,"June 16, 2016",2016-03-11
...,...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2001-07-27,"August 19, 2014",2001-07-27
543,Malta National Bank,Malta,OH,6629,North Valley Bank,2001-05-03,"November 18, 2002",2001-05-03
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2001-02-02,"February 18, 2003",2001-02-02
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,2000-12-14,"March 17, 2005",2000-12-14
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,2000-10-13,"March 17, 2005",2000-10-13

In [155]:
df.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
Updated Date                     object
new_col_updated_date     datetime64[ns]
dtype: object

In [156]:
#Extracting only date / year / month:
d

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [157]:
d.dt.year
#dt is a function - we have multiple functions

0      2016
1      2016
2      2016
3      2016
4      2016
       ...
542    2001
543    2001
544    2001
545    2000
546    2000
Name: Closing Date, Length: 547, dtype: int64

In [159]:
d.dt.year.value_counts()
#value_counts groups the data. it's kind of group by function

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [160]:
d.dt.dayofyear

0      267
1      232
2      127
3      120
4       71
      ...
542    208
543    123
544     33
545    349
546    287
Name: Closing Date, Length: 547, dtype: int64

In [161]:
titanic_train = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv',sep='\t')

In [162]:
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [163]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [164]:
titanic_train.shape

(156, 12)

In [165]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [166]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [167]:
titanic_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [169]:
titanic_train.index

RangeIndex(start=0, stop=156, step=1)

In [170]:
list(titanic_train.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155]

In [171]:
list(titanic_train.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [172]:
titanic_train['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
Name: Name, Length: 156, dtype: object

In [173]:
titanic_train.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
Name: Name, Length: 156, dtype: object

In [174]:
type(titanic_train.Name)

pandas.core.series.Series

In [175]:
type(titanic_train['Name'])

pandas.core.series.Series

In [177]:
titanic_train[['Name','Fare']]

                                                  Name     Fare
0                              Braund, Mr. Owen Harris   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                               Heikkinen, Miss. Laina   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                             Allen, Mr. William Henry   8.0500
..                                                 ...      ...
151                  Pears, Mrs. Thomas (Edith Wearne)  66.6000
152                                   Meo, Mr. Alfonzo   8.0500
153                    van Billiard, Mr. Austin Blyler  14.5000
154                              Olsen, Mr. Ole Martin   7.3125
155                        Williams, Mr. Charles Duane  61.3792

[156 rows x 2 columns]

In [178]:
type(titanic_train[['Name','Fare']])

pandas.core.frame.DataFrame

In [180]:
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,156.000000,156.000000,156.000000,126.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,14.613880,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,19.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,35.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

In [181]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [183]:
#For categorical data:
titanic_train.dtypes == object

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [184]:
type(titanic_train.dtypes)

pandas.core.series.Series

In [186]:
#filtering operation
titanic_train.dtypes[titanic_train.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [189]:
#getting index
i = titanic_train.dtypes[titanic_train.dtypes == 'object'].index
i

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [191]:
#selecting columns which has only object datatypes 
titanic_train[i]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
151,"Pears, Mrs. Thomas (Edith Wearne)",female,113776,C2,S
152,"Meo, Mr. Alfonzo",male,A.5. 11206,NaN,S
153,"van Billiard, Mr. Austin Blyler",male,A/5. 851,NaN,S
154,"Olsen, Mr. Ole Martin",male,Fa 265302,NaN,S
155,"Williams, Mr. Charles Duane",male,PC 17597,NaN,C

In [192]:
titanic_train[i].describe()
#as it's categorical, there won't be mean and percentiles

                            Name   Sex        Ticket        Cabin Embarked
count                        156   156           156           31      155
unique                       156     2           145           28        3
top     Allen, Mr. William Henry  male  S.O.C. 14879  C23 C25 C27        S
freq                           1   100             2            2      110

In [193]:
#Deleting a column:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [194]:
del titanic_train['Pclass']

In [195]:
titanic_train.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [197]:
#create a new column:
titanic_train['new_col_sibsp_parch'] = titanic_train['SibSp'] + titanic_train['Parch']

In [198]:
titanic_train.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col_sibsp_parch
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [199]:
l = ['a','b','c']
l1=[1,2,3,4]
d = {'a':1,'b':2,'c':3}

In [200]:
#Accessing first row record of titanic
titanic_train.iloc[0]

PassengerId                                  1
Survived                                     0
Name                   Braund, Mr. Owen Harris
Sex                                       male
Age                                         22
SibSp                                        1
Parch                                        0
Ticket                               A/5 21171
Fare                                      7.25
Cabin                                      NaN
Embarked                                     S
new_col_sibsp_parch                          1
Name: 0, dtype: object

In [201]:
titanic_train.loc[0]

PassengerId                                  1
Survived                                     0
Name                   Braund, Mr. Owen Harris
Sex                                       male
Age                                         22
SibSp                                        1
Parch                                        0
Ticket                               A/5 21171
Fare                                      7.25
Cabin                                      NaN
Embarked                                     S
new_col_sibsp_parch                          1
Name: 0, dtype: object

In [204]:
titanic_train.ix[0]

AttributeError: 'DataFrame' object has no attribute 'ix'