In [1]:
#swamy saranam

In [2]:
a=10
a

10

In [3]:
type(a)

int

In [4]:
b=9.7
b

9.7

In [5]:
type(b)

float

In [17]:
c= 'saranam ayyappa'
c

'saranam ayyappa'

In [7]:
type(c)

str

In [8]:
d = True
d

True

In [9]:
type(d)

bool

In [10]:
e = 2+3j
e

(2+3j)

In [11]:
type(e)
#shift+tab under type(e - here)

complex

In [12]:
e.imag

3.0

In [13]:
e.real
#click tab after e.

2.0

In [18]:
#for string also there is seperate functions
c.upper
c

'saranam ayyappa'

In [20]:
#true is 1 and false is 0
True + True

2

In [21]:
True + False

1

In [22]:
False + False

0

In [24]:
# Single line and triple line comments
# can be ''' asas ''' or """asasc"""
"""
hi hi h ih
oihvo
osvno
sdkvn
"""

'\nhi hi h ih\noihvo\nosvno\nsdkvn\n'

In [25]:
print(c)

saranam ayyappa

In [26]:
#If single quote is part of string, have string enclosed in double quotes

f = "Hi, this is Vishal's code"
f

"Hi, this is Vishal's code"

In [28]:
#In print, there won't be quotes , but if we call variable directly, there will be quotes
print(f)

Hi, this is Vishal's code

In [29]:
#If doubt quote is part of string, have string enclosed in single quotes

g = 'Hi, this is Vishal"s code'
g

'Hi, this is Vishal"s code'

In [32]:
#If both quotes are part of string, enclose within 3 quotes
h = '''vishal's number"s is ringing'''
h

'vishal\'s number"s is ringing'

In [68]:
#Physical memory location
id(c)

2210400008688

In [70]:
id(c[1])

2210307698480

In [71]:
id(c[2])

2210307397616

In [34]:
#strings are stored as indexes
# if string is vishal, then if left to right it's 0 - v, 1 - i , 2 - s,...,5- l
#in backward, -1 is l, -2 is a, -3 is h,..., -6 is v

In [35]:
i = 'vishal'

In [36]:
i[0]

'v'

In [37]:
i[-2]

'a'

In [39]:
#string always excludes upper bound
#in vishal, it will go till 'a' as it 4th index and exclude it
i[0:4]

'vish'

In [40]:
#slicing using jump
#by default jump is 1
#i[startpoint:endpoint:jump]
i[0:5:2]

'vsa'

In [41]:
#negative jump
#Excludes upper bound 0
i[5:0:-1]

'lahsi'

In [42]:
i[5:0:-2]

'lhi'

In [44]:
#reversing a string
#no starting point and end point mentioned, just reverse
#-5,-4,-3,-3,-1,0,1,2,3,4,5 for vishal
i[::-1]

'lahsiv'

In [47]:
#list - collection of homogeneous (only int type data )/ heterogeneos (can be multiple varities like int,string) type of data
j=[]
j

[]

In [48]:
type(j)

list

In [49]:
k = list()
k

[]

In [50]:
type(k)

list

In [56]:
l = ['a',23,'vishal',4,'ganesan',True,1994,23.04,23+4j]
l

['a', 23, 'vishal', 4, 'ganesan', True, 1994, 23.04, (23+4j)]

In [57]:
type(l)

list

In [58]:
#type of that 8th index alone
type(l[8])

complex

In [59]:
#list inside list
m = ['a',23,'vishal',4,'ganesan',True,1994,23.04,23+4j,[1,2,3,'vishal',4,1994]]
m

['a',
 23,
 'vishal',
 4,
 'ganesan',
 True,
 1994,
 23.04,
 (23+4j),
 [1, 2, 3, 'vishal', 4, 1994]]

In [60]:
type(m[-1])

list

In [61]:
m[-1][3]

'vishal'

In [63]:
#wont complain even if there are no 50 variables in slicing operations
m[1:50]

[23,
 'vishal',
 4,
 'ganesan',
 True,
 1994,
 23.04,
 (23+4j),
 [1, 2, 3, 'vishal', 4, 1994]]

In [64]:
#complains if we just give without slicing
m[50]

IndexError: list index out of range

In [65]:
m[0:7]

['a', 23, 'vishal', 4, 'ganesan', True, 1994]

In [66]:
#if negative side indexing, consider step size also in negative, if positive output will be spaces
m[-1:-5:-1]

[[1, 2, 3, 'vishal', 4, 1994], (23+4j), 23.04, 1994]