# RANGE Function

In [3]:
#range generates a dataset
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#with starting and end point
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [7]:
#reversing thru stepsize
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [8]:
list(range(10,3.5,-1))

TypeError: 'float' object cannot be interpreted as an integer

#arange in numpy can accomodate floating point number but not the range function.

# LOOPS:

In [9]:
#For loop
#i is local variable and extract data from list one by one
    
l = [1,2,3,4,5,6,7,8]
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [16]:
#addition using for loop:
l = [1,2,3,4,5,6,7,8]
for j in l:
    print(j+2)

3
4
5
6
7
8
9
10

In [26]:
#Append the data in a list
l = [1,2,3,4,5,6,7,8]
m = []
for k in l:
    m.append(k)

In [27]:
m

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
#length of element
len(l)

8

In [31]:
for o in range(len(l)):
    print(l[o])

1
2
3
4
5
6
7
8

In [33]:
l = [1,2,3,4,5,6,7,8]
n = []
for p in range(len(l)):
    n.append(l[p]+2)

In [34]:
n

[3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
o=[]
for num in n:
    if num>4:
        o.append(num)

In [37]:
o

[5, 6, 7, 8, 9, 10]

In [38]:
#If Else
age = 26
if age>26:
    print("yes")
else:
    print("no")

no

In [43]:
#If Else Elif
age = 25
if age > 26:
    print("yes")
elif age == 25:
    print("yes it is")
else:
    print("no")

yes it is

In [45]:
#Using type function validation
age = 25
if type(age) == int:
    print("yes it's integer")
else:
    print("not an integer")

yes it's integer

In [46]:
#If inside If:
age = 25
if age > 26:
    print("yes")
elif age == 25:
    print("yes it is")
    if type(age) == int:
        print("yes it's integer")
    else:
        print("not an integer")
else:
    print("no")

yes it is
yes it's integer

In [49]:
#ELSE with FOR statement
#Comes into picture for closing db connection and under some conditions.
#Won't come into else block if FOR block is not completed

lis = [1,2,3,4,5,6,7]
for ii in lis:
    print(ii)
else:
    print("All things are done")

1
2
3
4
5
6
7
All things are done

For loop works on indexes and takes one by one list input
While loop checks condition in first place

In [55]:
#while loop
#executes the body until the condition is true in body
d=10
s=0
i=1

while i<=d:
    s = s+i
    i+=1
    print(s,i)
print(s)
#s = 0+1
#s = 1+2
#s = 3+3

1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
55

# BREAK, CONTINUE, PASS

In [61]:
for x in "vishal":
    print(x)
#first x will be v
#next x will be i
#next x will be s
#....until x will be l

v
i
s
h
a
l

In [66]:
#break - breaks and comes outside of for loop
for x in "vishal":
    if x == 'h':
        print('It is H, so breaking')
        break
    else:
        print('In else')
print("out of loop")

In else
In else
In else
It is H, so breaking
out of loop

In [67]:
#If break executes, it comes out of for loop
for x in "vishal":
    if x == 'h':
        print('It is H, so breaking')
        break
    else:
        print(x)
print("out of loop")

v
i
s
It is H, so breaking
out of loop

In [68]:
#No break as the condition didn't satisfy for break
for x in "vishal":
    if x == 'z':
        print('It is H, so breaking')
        break
    else:
        print(x)
print("out of loop")

v
i
s
h
a
l
out of loop

In [70]:
#Break in for else, else part won't execute
for x in "vishal":
    if x == 'h':
        print('It is H, so breaking')
        break
else:
    print(x)
print("out of loop")

It is H, so breaking
out of loop

In [71]:
#Continue - immediately returns control to FOR loop / master statement with out execute anything further statements 
#Continue - not do anything
for x in "vishal":
    if x == 'h':
        continue
    print(x)

v
i
s
a
l

# INPUT FUNCTION - Run time Input Value

In [73]:
input()

hi vishal here

'hi vishal here'

Everything provided in the input function will be considered in form of string. so type casting has to be done.

In [74]:
type(input())

13

str

In [77]:
a = input()
b = int(a)

12

In [79]:
type(b)

int

In [80]:
#Can't perform on character strings
a = input()
b = int(a)

hifidf

ValueError: invalid literal for int() with base 10: 'hifidf'

In [88]:
b = '2345'
type(b)

str

In [87]:
a = int(b)
type(a)

int

In [98]:
#Type casting is done in input to execute in real time
#Initially 6 is taken as part of str, so type casting is done so that it is converted to int as list is of int
a = int(input("Enter an integer: "))
print("Integer Inserted successfully, check the values")
b = [1,2,3,4,5,6,7,8,9,6]
c= []

for i in b:
    if i == a:
        c.append(i)
print(c)

Enter an integer: 6
Integer Inserted successfully, check the values
[6, 6]

# Concatenation:

In [99]:
#List
[1,2,3]+['vishal']

[1, 2, 3, 'vishal']

#String with String and list with list only can be concatenated

In [101]:
#String
"vishal" + str('g')

'vishalg'

In [102]:
"vish"+'al'

'vishal'

In [103]:
"Vishal" + 1

TypeError: can only concatenate str (not "int") to str

Error as string can't be concatenated with integer

In [105]:
#Integer with integer causes an arithmetic operation
1 + 1

2